@tailwind base;
@tailwind components;
@tailwind utilities;

.font-sans-serif-pro {
  font-family: "Source Serif Pro", serif;
}

/* mobile navbar */
.mobile-navbar {
  height: 80vh;
  width: 100%;
  position: absolute;
  transform: translateX(-100%);
  transition: 0.5s ease-in-out;
  z-index: 40;
}

.mobile-navbar-active {
  transform: translateX(0%);
  background-color: antiquewhite;
}

/* burger */
#burger {
  cursor: pointer;
}

#burger span {
  background-color: #000;
  height: 5px;
  width: 30px;
  border-radius: 3px;
  display: block;
  margin: 4px 0 4px 0;
}

.open {
}

.span1-active {
  transform: rotate(-48deg);
  margin: 0 0 -18px 0 !important;
  transition: 0.5s ease-in-out;
}

.span2-active {
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.span3-active {
  transform: rotate(48deg);
  margin: 0 0 0 0 !important;
  transition: 0.5s ease-in-out;
}
